
# =============== #
# Fmod cache #
# =============== #
Assets/Plugins/FMOD/Cache/*
Assets/StreamingAssets/**/*.bank
Assets/StreamingAssets/**/*.bank.meta
# =============== #
# Unity generated #
# =============== #
Temp/
Library/
UserSettings/Layouts/
UserSettings/Layouts/*
UserSettings/Layouts/default-2021.dwlt

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
.vscode/
.vscode/*

.idea/
.idea/*
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

Logs/*
*.log
*.csproj
.sln
netrunner/*.csproj
.vs/Parapluie/v16/Browse.VC.db
.vs/Parapluie/v16/Browse.VC.db-shm
.vs/Parapluie/v16/Browse.VC.db-wal
.vs/Parapluie/v16/Browse.VC.opendb
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
